#Board {
    background-color: rgb(233, 225, 182);
}

body {
    margin: 0 0 0 0;
}

.row {
    display: flex;
    justify-content: center;
}

.tile {
    background-color: rgb(255, 65, 65);
    height: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100px;
}

.tile:first-child {
    margin-left: 0;
}

.tile:hover {
    background-color: rgb(255, 100, 100);
}