body {
    background-color: rgb(231, 235, 232);
    font-family: sans-serif;
    font-size: 22px;
}

.board {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: center;
}

.tile {
    height: 125px;
    width: 125px;

    background-color: rgb(59, 65, 70);

    margin-bottom: 0;
    margin-left: 0;
    margin-right: 40px;
    margin-top: 30px;

    border-radius: 15px;
}

.tile:first-child {
    margin-left: 0;
}

.tile:hover {
    background-color: rgb(14, 4, 32);
    box-shadow: 0 0 5px 10px rgb(245, 255, 250);
}